<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/dashboard"><img src="assets/images/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">Home<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="nav-link" routerLink="/dashboard">Hello cinema@cinema.it<span class="sr-only">(current)</span></a>
      <button class="btn btn-danger my-2 my-sm-0 mr-4 ml-2" (click)='LogoutUser()'>Logout</button>
      <input class="form-control mr-sm-2" [(ngModel)]="searchingTerm" [ngModelOptions]="{standalone: true}"
        type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="setSearchingTerm()" type="submit">Search
        Movie</button>
    </form>
  </div>
</nav>