.form {
    height: 250px;
    width: 400px;
    border-radius: 15px;
    background-color: gold;
    margin: 0 auto;
}

img{
    width:300px;
    height:auto;
    margin: 80px auto;
}

.form-group{
    padding-top: 3rem;
}

input{
    margin-bottom:10px;
}