<div class="container">
  <div class="text-center">
    <img src="assets/images/logo.png">
  </div>
  <div class="col-sm-6 form text-center">
    <div class='form-group mx-5'>
      <input class="form-control" type="email" name="email" placeholder="Email" [(ngModel)]="email">
      <input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]="password">
    </div>
    <div style="padding-top:1rem;">
      <input class="btn btn-primary px-5" type="submit" value="Login" (click)='LoginUser()'>
    </div>
  </div>
  <div *ngIf="notAuth" class="alert alert-danger mt-3 text-center">
    <strong>Authentication Error!</strong> Devi prima autenticarti
  </div>
  <div *ngIf="requiredVal" class="alert alert-danger mt-3 text-center">
    <strong>Authentication Error!</strong> Email e password sono campi obbligatori
  </div>
  <div *ngIf="wrongVal" class="alert alert-danger mt-3 text-center">
    <strong>Authentication Error!</strong> Email e/o password sono errati
  </div>
</div>